
### folders
.idea
node_modules
test

### matching files
*.json
*.md
*.txt
*.log
*.ts
*.yml
*.sh
*.DS_Store

### individual files
suman.conf.js
.npmignore
.gitignore
.editorconfig
package-lock.json
yarn.lock

### negation
!*.d.ts
